body {

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
}
.home-page{
  background-image: url("ivory\ estate.jfif");
}

header {
  background-color: #330a05;
  color: coral;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 24px 0;
  text-align: center;
}
header a {
  text-decoration: none;
  color: inherit;
}
header h1 {
  font-size: 40px;
  margin: 0;
  color: burlywood;
}

nav {
  background-color: #c45306;
  text-align: center;
  padding: 12px 0;
}
nav a {
  text-decoration: none;
  color: inherit;
  margin: 0 20px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
}
nav a:hover {
  color: aqua;
  text-decoration: underline;
}
.gallery-img{
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0, 0.2);
  display: block;
  margin: 20px auto;

}
.home-container {
  max-width: 600px;
  width: 90%;
  margin: 60px auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.hero-card,
.info-card {
  border-radius: 30px;
  padding: 20px;
}
.info-grid {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.logo {
  font-weight: 800;
  letter-spacing: 5px;
  margin-bottom: 10px;
  color: burlywood;
}
.h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.about {
  background-color: #9a6449;
  color: #322525;
  font-weight: 900;
  font-size: large;
  padding: 20px;
  text-align: center;
  margin: 0;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: black;
  color: white;
}
.rsv-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c45306;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 15px;
}
.rsv-button:hover{
  background-color: #330a05;
}

/* 2.Reservation.html */
body{
  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
}
.reserve-page{
  background-image: url('Personalized\ Reserved\ Table\ Sign\ Wooden\ Resta.jfif');
}
.home-container{
    max-width: 600px;
      width: 90%;
      margin: 60px auto;
      text-align: center;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding:  40px 20px;
      color: white;
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .logo{
      font-weight: 800;
      letter-spacing: 5px;
      margin-bottom: 10px;
      color: burlywood;
      text-transform: uppercase;
    }
    h1{
      font-size: 2.5rem;
      margin-bottom: 30px;
      color: coral;
    }
    p{
      margin-bottom: 30px;
      font-size: 1.1rem;
      
    }
.booking-form{
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row{
  display: flex;
  gap: 15px;
}
.booking-form input, .booking-form select{
  width: 100%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid(255, 255, 255, 0.3);
  border-radius: 5px;
  color: white;
  font-size: 16px;
  outline: none;
}
.booking-form select option{
  background-color: #330a05;
}
.back-link:hover{
  color: aqua;
  text-decoration: underline;
}
.confirm{
  display: inline-block;
    padding: 10px 20px;
    background-color: #c45306;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}
.confirm:hover{
    background-color: #330a05;
}

/* confirmation.html */
body {

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
}
.confirmation-page{
  background-image: url('ambient\ aesthetic\ cool\ hotel\ pictuer');
}.home-container{
  background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          border: 1px solid rgba(255, 255, 255, 0.2);
          padding: 40px;
          border-radius: 15px;
          color: white;
}